<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @group_entry.word_id %>
</p>

<p>
  <b>Name:</b>
  <%= @group_entry.name %>
</p>


<%= link_to 'Edit', edit_group_entry_path(@group_entry) %> |
<%= link_to 'Back', group_entries_path %>
