<!DOCTYPE html>
<html>
	<head>
	  <title>Fionas Memory<%= @title %></title><!-- von jedem Controller gesetzt, bzw. default in application_helper.rb (funktioniert nicht..)-->
	  <meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
	  <%= stylesheet_link_tag 'memory', :media => 'screen' %>
	  <%= javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
	</head>
<body>

<%= yield %>

<p><%= debug(params) if Rails.env.development? %></p>
</body>
</html>
